/* GOOGLE FONTE */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");
/* VARIABLES CSS */
:root {
  /* Colors */
  --color-darkCyan: #3c8067;
  --color-cream: #f2ebe3;
  --color-veryDarkBlue: #1c232b;
  --color-darkGrayishBlue: #6c7289;
  --color-white: #ffffff;

  /* Weights */
  --fw-medium: 500;
  --fw-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
/* *:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
} */

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  display: block;
}

button,
[type="button"] {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-cream);
  line-height: 1.5;

  /* improves text rendering */
  -webkit-font-smoothing: antialiased;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.product {
  padding: 1.75rem 1rem;
  display: grid;
}

.product__img {
  border-radius: 0.625rem 0.625rem 0 0;
}

.product__box {
  background-color: var(--color-white);
  padding: 1.5rem;
  border-radius: 0 0 0.625rem 0.625rem;
}

.product__info {
  font: var(--fw-medium) 0.75rem / 1.25 "Montserrat";
  color: var(--color-darkGrayishBlue);
  text-transform: uppercase;
  letter-spacing: 0.313rem;
  margin-bottom: 0.75rem;
}

.product__name {
  font: var(--fw-bold) 2rem / 1 "Fraunces";
  color: var(--color-veryDarkBlue);
  margin-bottom: 1rem;
}

.product__desc {
  font: var(--fw-medium) 0.875rem / 1.64 "Montserrat";
  color: var(--color-darkGrayishBlue);
  margin-bottom: 1.5rem;
}

.product__price {
  display: flex;
  align-items: center;
  column-gap: 1.188rem;
  font: var(--fw-medium) 2rem / 1 "Fraunces";
  color: var(--color-darkCyan);
  margin-bottom: 1.25rem;
}

.product__price-sub {
  font: var(--fw-medium) 0.813rem / 1.77 "Montserrat";
  color: var(--color-darkGrayishBlue);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.75rem;
  background: var(--color-darkCyan);
  border-radius: 0.5rem;
  border: none;
  padding: 0.938rem;
  width: 100%;
  cursor: pointer;

  font: var(--fw-bold) 0.875rem / 1.77 "Montserrat";
  color: var(--color-white);
  transition: 0.2s ease-in-out;
}

.btn:hover {
  background: #1a4032;
}

@media (min-width: 540px) {
  .product {
    padding: 0 1.5rem;

    grid-template-columns: 1fr 1fr;
  }

  .product__img {
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .product__box {
    padding: 2rem;
    border-radius: 0 0.625rem 0.625rem 0;
  }

  .product__img-box,
  .product__box {
    max-width: 18.75rem;
    margin: 0 auto;
  }

  .product__info {
    margin-bottom: 1.25rem;
  }

  .product__name {
    margin-bottom: 1.5rem;
  }

  .product__desc {
    margin-bottom: 1.813rem;
  }

  .product__price {
    margin-bottom: 1.875rem;
  }
}
