@use "../base/variables" as *;
@use "../abstracts/functions" as *;
@use "../base/base-mixins" as *;

/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* better for people who browse with the keyboard and know where they are on the site, so I set a different style, making it more visible, taking it from the default.
 */
*:focus,
*:focus-visible {
  outline: #646464 dotted 4px;
  outline-offset: 4px;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    background-attachment: initial !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-animation-delay: -1ms !important;
    animation-delay: -1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

button,
[type="button"] {
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
}

body {
  font-family: $font-1;
  background-color: $body-color;
  color: $color-primary;
  line-height: 1.5;
  /* improves text rendering */
  -webkit-font-smoothing: antialiased;

  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;

  @include screen-1000 {
    align-items: flex-start;
    padding: rem(80) 0;
  }

  @include screen-912 {
    align-items: center;
  }

  @include screen-740 {
    align-items: flex-start;
    padding: rem(28) 0;
  }
}
