@use "../base/variables" as *;
@use "../abstracts/functions" as *;
@use "../base/base-mixins" as *;

.btn {
  display: flex;
  align-items: center;
  gap: rem(12);
  border: none;
  background-color: $color-secondary;
  padding: rem(15) rem(62) rem(16) rem(63);
  font-size: rem(14);
  font-family: $font-1;
  color: $white;
  border-radius: rem(8);
  transition: 0.4s;
  cursor: pointer;

  &:hover {
    background-color: #1a4032;
  }

  @include screen-740 {
    white-space: nowrap;
  }

  @include screen-560 {
    white-space: initial;
    width: 100%;
    justify-content: center;
  }

  @include screen-330 {
    white-space: nowrap;
    padding: rem(16) rem(32);
  }
}
