@use "../base/variables" as *;
@use "../base/base-mixins" as *;
@use "../abstracts/functions" as *;

.btn {
  background: none;
  outline: none;
  border: none;
  margin: 0;
  background-color: $color-secondary;
  padding: rem(15) rem(62) rem(16) rem(63);
  font-size: rem(14);
  font-family: $font-1;
  color: $white;
  border-radius: rem(8);
  display: flex;
  align-items: center;
  gap: rem(12);
  transition: 0.4s;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background-color: #1a4032;
  }
}
